# ======================
# BACKEND (Java / Spring)
# ======================
/backend/target/
*.jar
*.war
*.ear
*.class

# ====================
# FRONTEND (React/Node)
# ====================
/frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =================
# CONFIG & SECRETS
# =================
.env
*.env
.vscode/settings.json

# ====================
# DOCKER / DATABASE
# ====================
/pgdata/
docker-compose.override.yml

# =========
# EDITORES
# =========
.idea/
*.iml
*.swp
*.swo
