# Java
target/
*.jar
*.war
*.ear
*.class

# Node/React
node_modules/
dist/
npm-debug.log*

/backend/target

# PostgreSQL volume data
pgdata/

# IDE
.idea/
*.iml
*.swp
*.swo

# Docker
docker-compose.override.yml

# Env files
.env
*.env
.vscode/settings.json
